.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  padding: 10px 20px;
  width: 97.8%;
}

.brand {
  font-size: 1.5rem;
  padding: 5px;
  color: #5372f3;
  font-weight: bold;
  font-family: "Heebo", sans-serif;
}

.domain {
  color: #de3447;
}

.account {
  padding: 5px;
  color: black;
  margin-right: 10px;
}
